body {
    font-family: 'Monserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #fff;
    /* height: 90vh; */
}

.title-box {
    padding: 3% 15% 7%;
    position: relative;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 1.5;
    
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.5;
}

/* navigation bar */
.navbar {
    padding: 0  0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Monserrat', sans-serif;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/* FEATURES SECTION */

#features {
    padding: 7% 10%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
}

.icon {
    margin-bottom: 1rem;
    color: #ef8172;
}

.icon:hover {
    color: #ff4c68;
}

.feature-item {
    /* margin-bottom: 2rem; */
    padding: 4.5%;
    text-align: center;
}

.feature-item > p {
    color: #8f8f8f;
}

/* TESTIMONIAL SECTION */
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}


#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 5%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 20px 50px;
}


/* PRICE SECTION */
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

.card {
    text-align: center;
}

.card-header {
    background-color: #ef8172;
    color: white;
}

/* CALL TO ACTION */

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 150px 200px;
}

/* .cta-div {
    margin: 0 200px;
} */

.cta-div > h3 {
    font-size: 4rem;
    color: #fff;
}


/* FOOTER */
#footer {
    text-align: center;
    padding: 100px;
}

#footer > p {
    color: #8f8f8f;
}

.contact-icon {
    padding: 15px;
}








@media (max-width: 1027px) {
    .title-image {
        width: 60%;
        transform: rotate(0deg);
        position: static;
        /* right: 30%; */
    }

    .hero-banner {
        text-align: center;
    }

    #cta {
        background-color: #ff4c68;
        text-align: center;
        padding: 50px;
    }
    

}




/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */